# Backend 用の無視ファイル
__pycache__/
*.pyc
.venv/
venv/
.env
.env.local
*.log

# Frontend 用の無視ファイル
node_modules/
dist/
.next/

# IDE 設定ファイル（VSCode, Macなど）
.vscode/
.DS_Store

# Docker
docker-compose.yaml

# Package 管理関連（npm / yarn）
package-lock.json
package.json

# Firebase 認証キー（これを公開するとセキュリティリスク）
firebase_credentials.json